<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Template v(0.0.1)</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="/js/lib/jquery.min.js"></script>
</head>
<body>
	<main class="an-main-wrap toggleSidebar">
		<header class="header">
		</header>
		<nav class="section1">
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
		</nav>
		<nav class="section1">
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
			<div class="section1-item"></div>
		</nav>
		<nav class="section2">
			<nav class="section2-flex1">
				<div class="section2-nav">
					<div class="section2-nav-item if2"><img src="images/snegovik.jpg" class="img-snegovik">
					</div>
					<div class="section2-nav-item if1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
					</div>
				</div>
				<div class="section2-nav">
					<div class="section2-nav-item if2"><img src="images/snegovik.jpg" class="img-snegovik">
					</div>
					<div class="section2-nav-item if1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.
					</div>	
				</div>	
			</nav>
			<nav class="section2-flex2">
				<div class="section2-nav">
					<div class="section2-nav-item if1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					</div>
					<div class="section2-nav-item if2"><img src="images/snegovik.jpg" class="img-snegovik">
					</div>
				</div>
				<div class="section2-nav">
					<div class="section2-nav-item if1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					</div>	
					<div class="section2-nav-item if2"><img src="images/snegovik.jpg" class="img-snegovik">
					</div>
				</div>	
			</nav>
		</nav>
		<nav class="section3">
			<div class="element">
				<ul class="element-ul">
					<li class="element-ul-li uf1"><img src="images/snegovik2.jpg" class="img-snegovik2">
					</li>
					<li class="element-ul-li uf2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					</li>
				</ul>
			</div>
			<div class="element">
				<ul class="element-ul">
					<li class="element-ul-li uf2"><img src="images/snegovik2.jpg" class="img-snegovik2">
					</li>
					<li class="element-ul-li uf1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
					</li>
				</ul>
			</div>
		</nav>

	</main>
	<script src="js/common.min.js"></script>
</body>
</html>